*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(198, 236, 235);
}
.container{
    width: 600px;
    height: 550px;
    background-color: hsl(160, 62%, 80%);
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
    box-shadow: 4px 5px 15px black;
}
.fixed{
    width: 450px;
    height: 450px;
    background-color: #dbe6e5;
    box-sizing: border-box;
        box-shadow: 4px 5px 15px rgb(126, 197, 221);
        float: left;
}
.h1{
    text-align: center;
    padding: 10px;
    color: rgb(9, 97, 238);
}
.h1:hover{
    background-color: rgb(169, 235, 235);
    color: #000;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 4px 3px 15px black;
    
}
.card-img{
    padding: 20px;
    width: 40%;
    box-shadow: 4px 3px 15px black;
    text-align: center;
    float: left;
} 
.card{
    padding: 10px;
}
.card-title{
    margin-left: 30px;
    float: left;
    padding:5px;
}
h3{
    color: rgb(0, 47, 255);
    font-size: 1.2rem;
    padding: 5px;
}
.price{
    color: red;
}
 .icon{
    font-size: 1.1rem;
    cursor: pointer;
    transition:background 0.5s ;
    padding: 15px;
    margin-left: 2px;
    margin-right: 2px;
    
}
  .icon:hover{
    background-color: blue;
    color: azure;
    border-radius: 50%;
    
}
 .input{
    width: 45px;
    background-color: rgb(173, 173, 241);
    padding: 5px;
    font-size: 1.4rem;
    color: azure;
    border-radius: 10%;
}
 .item{
    font-size: 1.4rem;
}
.clear{
    clear: both;
}
.hr-style{
    border: 2px solid #000;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 10px;
    margin-top: 25px;
}
.total{
    text-align: center;
    color: rgb(18, 19, 19);
    margin-top: 10px;
    
}
h4{
    padding: 20px;
}
.coupon{
    color: rgb(235, 6, 132);
    text-align: center;
}
.coupon-name{
    color: blue;
    text-align: center;
    font-size: 1.3rem;
}
.coupon-input{
    width: 40%;
    padding: 8px;
    margin-left: 20px;
    margin-top: 15px;
}
.apply{
    color: rgb(234, 234, 236);
    background-color: brown;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 20px;
}
.apply:hover{
            background-color: blue;
            color: rgb(18, 216, 216);
}
